<%- include('../partials/header.ejs') %>
 
 <%- include('../partials/main_nav.ejs') %>
 <%# comment
<!--Main content-->
  <main class="container">
    <div class="jumbotron">
    
      </div>
      <div>
      <h3> Mission<br><br></h3>
      </div>
      <p>To create innovative technology that positively changes the lives of people worldwide. </p>

    
  </main>     %> 

  <main class ="container">
    <div clas="row">
        <div class ="offset-md-1 col-md-11">
            <h1><%= title%></h1>
            <br>
            <table class ="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Phone</th>
                    <th class="text-center col-4">Email</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Email</th>

                </tr>
                <!--Repeatable template Row-->
                 <%  for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= BusinessList[count].Name %></td>
                        <td class="text-center"><%= BusinessList[count].Phone %></td>
                        <td class="text-center"><%= BusinessList[count].Email %></td>
                        <td class="text-center col-1">
                            <a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm" >
                                <i class="fas fa-pencil-alt"></i> Update </a>
                            </td>
                        <td class="text-center col-1">
                            <a href="/business-list/delete/<%= BusinessList[count]._id%>"class="btn btn-danger btn-sm" >
                            <i class="fas fa-trash-alt"></i> Delete </a>
                        </td>
                    </tr>
                
                
                <% } %>
                
            </table>
        </div>
    </div>
  </main>

  <%- include('../partials/bottom_nav.ejs') %>

  <%- include('../partials/footer.ejs') %>
